@font-face {
    font-family: 'MarkGEOCAPS';
    src: url('https://webstatic.bog.ge/fonts/markgeo/MarkGEOCAPS-Medium/MarkGEOCAPS-Medium.eot');
    src: url('https://webstatic.bog.ge/fonts/markgeo/MarkGEOCAPS-Medium/MarkGEOCAPS-Medium.woff2') format('woff2'), url('https://webstatic.bog.ge/fonts/markgeo/MarkGEOCAPS-Medium/MarkGEOCAPS-Medium.woff') format('woff'), url('https://webstatic.bog.ge/fonts/markgeo/MarkGEOCAPS-Medium/MarkGEOCAPS-Medium.ttf') format('truetype'), url('https://webstatic.bog.ge/fonts/markgeo/MarkGEOCAPS-Medium/MarkGEOCAPS-Medium.svg#MarkGEOCAPS-Medium') format('svg'), url('https://webstatic.bog.ge/fonts/markgeo/MarkGEOCAPS-Medium/MarkGEOCAPS-Medium.eot?#iefix') format('embedded-opentype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/**
* Default theme --------------------------------------------------------------------------------------
*/
.ipay-parent-block-default {
    position: relative;
    margin: 0;
    padding: 0;
    width: 280px;
    height: 48px;
}

.ipay-button-block-default {
    position: absolute;
    left: 0;
    width: 134px;
}

.ipay-payment-methods-default {
    position: absolute;
    right: 0;
    width: 139px;
    line-height: 55px;
}

.ipay-sdk-pay-default {
    cursor: pointer;
    width: 134px;
    height: 48px;
    border-radius: 4px;
    box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, 0.1);
    background-color: #fc6719;
    border: none;
    outline: none;
    transition: background-color 200ms ease-in-out 0s, 
            box-shadow 200ms ease-in-out 0s;
}

.ipay-sdk-pay-default:active {
    background-color: #F6661C;
}

.ipay-sdk-pay-default:hover {
    background-color: #F68448;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 8px 0px;
}

.ipay-sdk-pay-default:focus {
    background-color: #F6661C;
}

.ipay-sdk-pay-default span {
    font-family: MarkGEOCAPS;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 3.71;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}

.b-1-default {
    width: 138.2px;
    height: 17.4px;
    object-fit: contain;
    line-height: 30px;
}

/**
* Light theme  --------------------------------------------------------------------------------------
*/
.ipay-parent-block-light {
    position: relative;
    margin: 0;
    padding: 0;
    width: 280px;
    height: 48px;
}

.ipay-button-block-light {
    position: absolute;
    left: 0;
    width: 134px;
}

.ipay-payment-methods-light {
    position: absolute;
    right: 0;
    width: 139px;
    line-height: 55px;
}

.ipay-sdk-pay-light {
    cursor: pointer;
    width: 134px;
    height: 48px;
    border-radius: 4px;
    box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, 0.1);
    background-color: #f5f5f5;
    border: none;
    outline: none;
    transition: background-color 200ms ease-in-out 0s, 
            box-shadow 200ms ease-in-out 0s;
}

.ipay-sdk-pay-light:active {
    background-color: #f5f5f5;
}

.ipay-sdk-pay-light:hover {
    background-color: #f5f5f5;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 8px 0px;
}

.ipay-sdk-pay-light:focus {
    background-color: #f5f5f5;
}

.ipay-sdk-pay-light span {
    font-family: MarkGEOCAPS;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 3.71;
    letter-spacing: normal;
    text-align: left;
    color: #3d3d3d;
}

.b-1-light {
    width: 138.2px;
    height: 17.4px;
    object-fit: contain;
    line-height: 30px;
}

/**
* Dark theme --------------------------------------------------------------------------------------
*/
.ipay-parent-block-dark {
    display: block;
    margin: 0;
    padding: 0;
    width: 268px;
    height: 48px;
}

.ipay-button-block-dark {
    width: 268px;
}

.ipay-payment-methods-dark {
    width: 139px;
    line-height: 55px;
    margin: auto;
}

.ipay-sdk-pay-dark {
    cursor: pointer;
    width: 268px;
    height: 48px;
    border-radius: 4px;
    box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, 0.1);
    background-color: #f5f5f5;
    border: none;
    outline: none;
    transition: background-color 200ms ease-in-out 0s, 
            box-shadow 200ms ease-in-out 0s;
}

.ipay-sdk-pay-dark:active {
    background-color: #f5f5f5;
}

.ipay-sdk-pay-dark:hover {
    background-color: #f5f5f5;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 8px 0px;
}

.ipay-sdk-pay-dark:focus {
    background-color: #f5f5f5;
}

.ipay-sdk-pay-dark span {
    font-family: MarkGEOCAPS;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 3.71;
    letter-spacing: normal;
    text-align: left;
    color: #3d3d3d;
}

.b-1-dark {
    width: 138.2px;
    height: 17.4px;
    object-fit: contain;
    line-height: 30px;
}


/**
* Bright theme --------------------------------------------------------------------------------------
*/
.ipay-parent-block-bright {
    margin: 0;
    padding: 0;
    width: 268px;
    height: 48px;
}

.ipay-button-block-bright {
    width: 268px;
}

.ipay-payment-methods-bright {
    width: 139px;
    line-height: 55px;
    margin: auto;
}

.ipay-sdk-pay-bright {
    cursor: pointer;
    width: 268px;
    height: 48px;
    border-radius: 4px;
    box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, 0.1);
    background-color: #fc6719;
    border: none;
    outline: none;
    transition: background-color 200ms ease-in-out 0s, 
            box-shadow 200ms ease-in-out 0s;
}

.ipay-sdk-pay-bright:active {
    background-color: #F6661C;
}

.ipay-sdk-pay-bright:hover {
    background-color: #F68448;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 8px 0px;
}

.ipay-sdk-pay-bright:focus {
    background-color: #F6661C;
}

.ipay-sdk-pay-bright span {
    font-family: MarkGEOCAPS;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 3.71;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}

.b-1-bright {
    width: 138.2px;
    height: 17.4px;
    object-fit: contain;
    line-height: 30px;
}